div {
  background-color: lightgrey;
  text-align: center;
  padding: 15px 15px 15px 15px;
  width: 1000px;
  margin-right:auto;
  margin-left:auto;
}

h3 {
 background-color: black;
 color:white;
}

p {
  background-color:red;
}

.box {
  padding: 20px 15px 20px 15px;

}

#yellow {
  color:yellow;
}

#blue{
  color:blue;
}

#green {
  color:green;
}