body {
  font-family:'Lato', sans-serif;
}

div.container {
  width: 900px;
  margin: 50px 0 0 40px;
}

h1 {
  margin: 0;
  font-size: 40px;
}
h2 {
  font-size: 20px;
}

h3 {
  font-size: 30px;
  margin: 0 0 15px 0;
}

h1, h2, h3 {
  font-weight: normal;
}

h1, a.continue {
  color: #D92F0D; /*orange*/
}

.date, .footer {
  color: #A8B5BA; /*light grey*/
}

p.inline {
  color: #A8B5BA; /*light grey*/
  display: inline;
}

.top {
  margin-bottom: 10px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.top a:link {
  font-size: 19px;
  text-decoration: underline;
}

.bottom a:visited {
  color: #D92F0D; /*orange*/
}

.top a:visited {
  color: #A8B5BA; /*light grey*/
}

.continue {
  margin-left: 800px;
  font-weight: bold;
}

.space {
  margin-right: 10px;
}

.footer {
  margin-bottom: 100px;
}

/*submit and do issue*/