div {
  background-color:lightgrey;
  border: 1px solid black;
  margin-bottom:10px;
}

#top {
  height: 100px;
}

#left {
  display:inline-block;
  float: left;
  height:200px;
  width:300px;
}

#right {
  display:inline-block;
  float:right;
  height:200px;
  width:100px;
}

#bottom {
  height:100px;
}

IN LINE TEXT IS A THING!

the "display" command should be fixing this but it isn't >:(
