/*font-family: 'Source Sans Pro', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Oswald', sans-serif;*/

body {
  font-family: 'Source Sans Pro', sans-serif;
}


/*header h1, caption, section a, article a {
  font-family: 'Merriweather Sans', sans-serif;
  }*/


/*logo, tagline (two brains are better...), actions (Create a Profile; Find a Developer; Find a Designer)
font-family: "Merriweather", serif;*/